.container {
  --anim-delay: 0.9s
}

.button {
  
}

.content {
  transition: opacity ease var(--anim-delay);
  transform: translateX(-12rem);
  opacity: 0;
  width: 40rem;
}

.design {
  transition: opacity ease var(--anim-delay);
  transform: translateX(24rem);
  opacity: 1;
}

.beyond {
  transition: opacity ease var(--anim-delay);
  transform: translateX(9rem);
  opacity: 1;
}

.white-line {
  transition: all ease var(--anim-delay);
  transform: translate(18rem, 1rem);
  opacity: 1;
}

.title-1 {
  transition: transform ease var(--anim-delay);
  transform: translateX(2rem);
}

.title-3 {
  transition: transform ease var(--anim-delay);
  transform: translate(17rem, 1rem);
}

.button svg {
  transition: all ease var(--anim-delay);
  opacity: 1;
}

.button p {
  transform: translateX(4rem);
  transition: all ease var(--anim-delay);
  opacity: 0;
}

.container ~ .design {
  order: -1;
}

.button:hover svg {
  transform: translateX(-4rem);
  /* opacity: 0; */
  transition: all ease var(--anim-delay);
}

.button:hover p {
  transform: translateX(-3.5rem);
  opacity: 1;
  transition: all ease var(--anim-delay);
}

.container:hover .white-line {
  transition: all ease var(--anim-delay);
  transform: translate(32rem, 1rem);
  opacity: 0;
}

.container:hover ~ div {
  transition: opacity ease var(--anim-delay);
  /* transform: translateY(-8rem); */
  opacity: 0;
}


.container:hover .content {
  transition: opacity ease var(--anim-delay);
  opacity: 1;
}

.container:hover .title-1 {
  transition: transform ease var(--anim-delay);
  transform: translateX(-24rem);
}

.container:hover .title-3 {
  transition: transform ease var(--anim-delay);
  transform: translate(-7rem, -4.3rem);
}
