.container {
  --anim-delay: 0.7s
}

.button {

}

.content {
  transition: opacity ease var(--anim-delay);
  opacity: 0;
  width: 40rem;
}

.design {
  transition: all ease var(--anim-delay);
  opacity: 1;
}

.beyond {
  transition: all ease var(--anim-delay);
  opacity: 1;
}

.white-line {
  transition: all ease var(--anim-delay);
  transform: translateX(18rem);
  opacity: 1;
}

.title-1 {
  transition: transform ease var(--anim-delay);
  transform: translateX(-2rem);
}

.title-2 {
  transition: transform ease var(--anim-delay);
  transform: translateX(14rem);
}

.title-3 {
  transition: transform ease var(--anim-delay);
  transform: translateX(18rem);
}

.button svg {
  transition: all ease var(--anim-delay);
  opacity: 1;
}

.button p {
  transform: translateX(4rem);
  transition: all ease var(--anim-delay);
  opacity: 0;
}

.button:hover svg {
  transform: translateX(-4rem);
  /* opacity: 0; */
  transition: all ease var(--anim-delay);
}

.button:hover p {
  transform: translateX(-3.5rem);
  opacity: 1;
  transition: all ease var(--anim-delay);
}

.container:hover .white-line {
  transition: all ease var(--anim-delay);
  transform: translateX(32rem);
  opacity: 0;
}

.container:hover .design {
  transition: all ease var(--anim-delay);
  /* transform: translateY(-8rem); */
  opacity: 0;
}

.container:hover .beyond {
  transition: all ease var(--anim-delay);
  /* transform: translateY(8rem); */
  opacity: 0;
}

.container:hover .content {
  transition: opacity ease var(--anim-delay);
  opacity: 1;
}

.container:hover .title-1 {
  transition: transform ease var(--anim-delay);
  transform: translateX(-24rem);
}

.container:hover .title-2 {
  transition: transform ease var(--anim-delay);
  transform: translate(-3.8rem, -4.6rem);
}

.container:hover .title-3 {
  transition: transform ease var(--anim-delay);
  transform: translate(4.1rem, -9rem);
}
